@page "/login"
@attribute [AllowAnonymous]

<Form Model="@_loginPageModel">
    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <CardTitle Alignment="TextAlignment.Center">Login</CardTitle>
                </CardHeader>
                <CardBody>
                    <Validations Mode="ValidationMode.Auto" Model="@_loginPageModel" ValidateOnLoad="false" @ref="_validations">
                        <Validation>
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Host</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                    <TextEdit Role="TextRole.Url" Placeholder="Host" @bind-Text="_loginPageModel.Host">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Username</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                    <TextEdit Role="TextRole.Text" @bind-Text="_loginPageModel.Username">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Password</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                    <TextEdit Role="TextRole.Password" @bind-Text="_loginPageModel.Password"/>
                                </FieldBody>
                            </Field>
                        </Validation>
                    </Validations>
                    <Field Horizontal="true" JustifyContent="JustifyContent.Center">
                        <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="@HandleLogin" Loading="_loading">
                            Submit
                        </Button>
                    </Field>
                    @if (!string.IsNullOrEmpty(_error))
                    {
                        <Field Horizontal="true" JustifyContent="JustifyContent.Center">
                            <FieldLabel>@_error</FieldLabel>
                        </Field>
                    }
                </CardBody>
            </Card>
        </Column>
    </Row>
</Form>